{% extends 'base.html'%}
{%load static %}
{% block content%} 
<div class="mt-5 ">
    <div class="text-center">
    <img src="{%static 'images/pic1.jpg'%}" alt="profilepic" class="img-thumbnail"
    width="250px" heigth="150px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4">
            <p style="text-indent:100%;"> A résumé or resume[a][1] is a document created and used by a person to present their background, skills, and accomplishments. Résumés can be used for a variety of reasons, but most often they are used to secure new employment.[2]

                A typical résumé contains a "summary" of relevant job experience and education. The résumé is usually one of the first items, along with a cover letter and sometimes an application for employment, which a potential employer sees regarding the job seeker and is typically used to screen applicants, often followed by an interview.
                
                The curriculum vitae (CV) used for employment purposes in the UK (and in other European countries) is more akin to the résumé—a shorter, summary version of one's education and experience—than to the longer and more detailed CV that is expected in U.S. academic circles.
                
                In South Asian countries such as India, Pakistan, and Bangladesh, biodata is often used in place of a résumé

            </p>
        </div>
    </div>
    <div class="text-center">
    <a href="{%url 'contact'%}" class="btn btn-outline-warning my-3">Hire me</a>
    <a href="{%url 'contact'%}" class="btn btn-outline-warning my-3">Contact</a>
    </div>  
</div>
{% endblock content%}